{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Kegiatan</title>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<section>
    <div class="container">
    <h1 style="text-align:center">Tambah Kegiatan</h1>
        <form method='POST'>
            {% csrf_token %}
            <table>
                {{kegiatan_form.as_table}}
            </table>
            <button class="btn btn-primary" type="Submit">Tambahkan</button>
        </form>
    </div>
</section>


<br><br><br><br><br><br>
{% endblock content %}