{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}

{% block content %}
<br><br><br><br>
<section>
    <div class="container">
        <h1 style="text-align:center">Daftar Kuliah</h1>
        <div class="table-responsive-lg">
            {% for kegiatan in semua_kegiatan %}
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Kegiatan</td>
                        <td>{{kegiatan.Kegiatan}}</td>
                    </tr>
                    <tr>
                        <td>Hari</td>
                        <td>{{kegiatan.Hari}}</td>
                    </tr>
                    <tr>
                        <td>Tanggal</td>
                        <td>{{kegiatan.Tanggal}}</td>
                    </tr>
                    <tr>
                        <td>Jam</td>
                        <td>{{kegiatan.Jam}}</td>
                    </tr>
                    <tr>
                        <td>Tempat</td>
                        <td>{{kegiatan.Tempat}}</td>
                    </tr>
                    <tr>
                        <td>Kategori</td>
                        <td>{{kegiatan.Kategori}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><a class="btn btn-danger" href="{% url 'formulir:delete' kegiatan.id%}" title="">Hapus</a></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{% url 'formulir:create' %}">Tambah Kegiatan</a>
    </div>
</section>


<br><br><br><br><br><br>
{% endblock content %}