{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 1</title>
{% endblock meta %}

{% block bodycolor %}
<body id="page-top" style="background-color: lightcyan;">
{% endblock bodycolor %}

{% block content %}
<br><br><br>
<h1>Welcome!</h1>
<img src="{% static 'img/MX09.jpg' %}" style="width: 25%;">
<table>
    <tr>
      <td>Nama</td>
      <td>: Andre Septiano</td>
    </tr>
    <tr>
      <td>NPM</td>
      <td>: 1906398313</td>
    </tr>
    <tr>
      <td>Angkatan</td>
      <td>: 2019</td>
    </tr>
    <tr>
      <td>Hobi</td>
      <td>: Mendengarkan Musik</td>
    </tr>
    <tr>
      <td>Jurusan</td>
      <td>: Ilmu Komputer</td>
    </tr>
    <tr>
      <td>Media Sosial</td>
      <td>: <a href="https://www.instagram.com/andre__septiano/">Instagram</a></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td>Deskripsi Singkat</td>
      <td>
        : Tinggal di Bukittinggi, Sumatera Barat. Tidak mempunyai prestasi yang menonjol.
      </td>
    </tr>
    <tr>
      <td><br><br></td>
    </tr>
</table>
<br><br>

{% endblock content %}