.accordion-title{
    color: #22A39F;
    border: 1px solid #22A39F;
    padding: 10px;
    margin: 0 !important;
}

.accordion-title:hover{
    background: rgba(34, 163, 159, 0.1)
}

.no-border-top {
    border-top: 0px solid black !important;
}

.accordion-item{
    cursor: pointer;
    transition: 1s;
}

.accordion-content {
    border: 1px solid #22A39F;
    border-top: 0px solid black !important;
    padding: 5px;
}

.accordion-content.hide{
    display: none;
}

div.float-right{
    position: relative;
    right: 10px;
    top: -40px !important;
}
