{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Experience</title>
{% endblock meta %}


{% block bodycolor %}
<body id="page-top" style="background-color:rgb(253, 202, 107);">
{% endblock bodycolor %}

{% block content %}
<br><br><br><br>
<h1 style="font-weight: bold;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Education
</h1>

<table>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="font-size: 20px;">SMPI Al-Ishlah</td>
        <td style="font-size: 20px;">: 2012 - 2015</td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 20px;">SMAN 1 Bukittinggi</td>
        <td style="font-size: 20px;">: 2015 - 2018</td>
    </tr>
    <tr>
        <td></td>
        <td style="font-size: 20px;">
            Universitas Indonesia
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td style="font-size: 20px;">: 2019 - Now</td>
    </tr>
</table>

<br><br><br><br>

<h1 style="font-weight: bold;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Experience
</h1>

<table>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="font-size: 20px;">
            Teaching Assistant in Calculus 2
            &nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td style="font-size: 20px;">: 2012 - 2015</td>
    </tr>
</table>

{% endblock content %}