{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block meta %}
    {% endblock meta %}
  </head>

  {% block bodycolor %}
  <body id="page-top">
  {% endblock bodycolor %}
    
    {% block content %}
    {% endblock content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-white" href="/"><h5>Welcome!</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/aboutme">About Me<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/experience">Experience<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/story1">Story 1<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/kuliah">Kuliah<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/kegiatan">Kegiatan<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/accordion">Accordion<span class="sr-only"></span></a>
            </li>
            <li>
              <a class="nav-link text-white" href="/story8">Story 8<span class="sr-only"></span></a>
            </li>
            {% if not user.is_authenticated %}
            <li>
              <a class="nav-link text-white" href="/userauth/login">Login<span class="sr-only"></span></a>
            </li>
            {% else %}
            <li>
              <a class="nav-link text-white" href="/userauth/logout">Logout<span class="sr-only"></span></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Contact me on: </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="https://www.instagram.com/andre__septiano/"><i class="fa-3x fab fa-instagram"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="nav-item">
            <a href="https://timeline.line.me/user/_dQeQkPk1aVK0l9_V_5peoxejVF9ow4El32Q63Q0"><i class="fa-3x fab fa-line"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/andre-septiano-508361194/"><i class="linkedin fa-3x fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a7a042da49.js" crossorigin="anonymous"></script>

  </body>
</html>