{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome!</title>
{% endblock meta %}

{% block bodycolor %}
{% if not user.is_authenticated %}
<body id="page-top" style="background-image: url('/static/img/welcome-background.jpg'); background-size: cover;">
{% endif %}
{% endblock bodycolor %}

{% block content %}
{% if user.is_authenticated %}
  <br><br><br>
  <h1 style="text-align: center;">Hello {{request.user.username}}!</h1>
{% endif %}
{% endblock content %}