{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>About Me</title>
{% endblock meta %}

{% block content %}
  <br><br><br>

  <ul>
    <li style="float: left; list-style-type:none;">

      <p>
        <img src="{% static 'img/MX09.png' %}" style="width:250px; height:250px;">
      </p>

      <table>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="font-size: 25px; font-weight: bold;">Andre Septiano</td>
        </tr>
        <tr>
          <td></td>
          <td style="font-size: 25px; font-weight: bold;">1906398313</td>
        </tr>
        <tr>
          <td></td>
          <td style="font-size: 25px; font-weight: bold;">Computer Science 2019</td>
        </tr>
        <tr>
          <td></td>
          <td><br><br></td>
        </tr>
      </table>
  
    </li>

    <li style="float: left; list-style-type:none;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>

    <li style="float: left; list-style-type:none;">
      <h1 style="text-align: center; font-weight: bold;"> About Me </h1>
      <p>
        <br>
        Tinggal di Bukittinggi, Sumatera Barat. Tidak mempunyai prestasi yang menonjol.
        <br><br><br><br><br>
      </p>
    </li>
    
  </ul>
  
{% endblock content %}
